<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Newseum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/landingpage.css" />
</head>


<body style="background-color:#fff;">


    <div class="container-fluid">
        <div class="row" style="height:100vh;">
            <div class="col-md-4 text-right" style=" padding-right:4rem; padding-top:3rem;padding-bottom:3rem;">

            </div>
            <div class="col-md-8" style="padding-left:6rem; padding-top:3rem;padding-bottom:3rem;">
                <div style=" position: absolute; top:50%; transform: translateY(-50%);">
                    <img src="images/newseum-logo.png" alt="" style=" border-radius:2px;display:inline-block;position:relative;height:175px;width:175px;">
                    <h1 style="font-size:4.5rem;margin-top:1rem; color:black;margin-bottom:3rem;">Newseum</h1>
                    <h1 style="font-size:2.75rem; color:black; font-weight:400;">Listen to news like you listen to music.</h1>

                    <div style="display: flex; padding-left:1rem;margin-top:1.5rem;">
                        <h3 style="font-size:1.25rem; margin-left:1.5rem;display: block;">Play, pause the top news stories.</h3>
                    </div>
                    <div style="display: flex; padding-left:1rem;">
                        <h3 style="font-size:1.25rem; margin-left:1.5rem;display: block;">Follow your interests.</h3>
                    </div>

                    <div style="display: flex; padding-left:1rem;">
                        <h3 style="font-size:1.25rem; margin-left:1.5rem;display: block;">It's easy. One account. Listen anywhere.</h3>
                    </div>

                    <button class="launch-button" onclick="location.href='/auth/google'" style="background-color:#292929; color:white; margin-top:2rem;margin-bottom:2rem; height:48px;">
                        LAUNCH WEB PLAYER
                    </button>



                </div>
            </div>
        </div>
    </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="bower_components/watson-speech/dist/watson-speech.js"></script>
    <!-- window.fetch pollyfill for IE/Edge & Older Chrome/FireFox -->
    <script src="bower_components/fetch/fetch.js"></script>
    <script src="js/landingpage.js"></script>
</body>

</html>