<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Newseon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sidebar.css">
</head>

<body cz-shortcut-listen="true">
    <div class="wrapper">
        <!-- Sidebar Holder -->

        <!-- Page Content Holder -->
        <div id="content" style="width:100vw;">
            <div class="container">

                <div class="row news-album-container">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-9">
                        <div class="news-container">
                            <div class="news-section-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="left-float section-news-album-cover-container">
                                            <img class="section-news-album" src="https://static01.nyt.com/images/2018/04/05/briefing/05evening-promo/05evening-promo-thumbStandard.jpg"
                                                id="media0" style="height:100px;width:100px;" alt="Avatar">
                                            <div class="news-album-overlay play-cover-button" id="home">
                                                <img class="news-album-overlay-content play-cover-button" onclick="playArticle(this)" id="play-button0" src="images/play.png"
                                                    alt="" style="">
                                            </div>
                                        </div>
                                        <div style="margin-left:7.5rem;">
                                            <h3 class="news-block-title" id="title0">werfewrfewfwfwe</h3>
                                            <p class="news-block-byline" id="byline0">fewfewfewf</p>
                                        </div>
                                        <div style="margin-left:7.5rem;">
                                            <div class="row zero-margin">
                                                <div class="add-to-playlist-container" onclick="addToQueue(this)">
                                                    <div class="add-to-playlist-container-box">
                                                        <img class="add-to-playlist-button" id="add-to-queue-button0" src="/images/add-button.png">
                                                        <div class="add-to-playlist-button-text" style="">
                                                            <div>Add to Playlist</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>




                </div>
            </div>
        </div>
        <!-- Player bar at the bottom -->

    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="bower_components/watson-speech/dist/watson-speech.js"></script>
    <!-- window.fetch pollyfill for IE/Edge & Older Chrome/FireFox -->
    <script src="bower_components/fetch/fetch.js"></script>


    <script>
        function myFunction() {
            alert("I am an alert box!");
        }
    </script>

    <script src="js/articlePlayer.js"></script>
    <script src="js/discover.js"></script>

</body>

</html>